# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# testing
/coverage

# misc
.DS_Store

# scripts to ignore
**/check-server.ps1
**/create-desktop-shortcut.ps1
**/diagnose-server.ps1
**/free-port*.bat
**/kill-node-processes.bat
**/reset-*.bat
**/restart-*.bat
**/server-setup.ps1
**/start-all.bat
**/start-app.bat
**/start-app.ps1
**/current-port.txt
server.log

# IDE
.vscode
.idea 